.info-freight-dialog {
    p {
        font-size: 16px;
    }

    button {
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        border: 0;
        color: #fff;
        background-color: #2979ff;
    }
}